//-----------------------------------------------------------------
// Game Skeleton Resources
// RC Source - HocusPocus.rc - version 2012 v2_10
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_BIG			ICON         "big.ico"
IDI_SMALL		ICON         "small.ico"

IDB_HERO			IMAGE			"./Resources/Herosheet.png" 



